#navbarNav {
    background-color: purple;
    color: #ffffff;
}

main {
    position: relative;
    top: 80px;
}

.card {
    box-shadow: 1px 1px 2px grey;
}

#errors-row {
    position: relative;
    top: 15px;
}

.pointer-cursor {
    cursor: pointer !important;
}

a {
    text-decoration: unset;
}


.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}


.search-box {
    flex: 1; /* Take up available space */
    margin-right: 10px;
}

.search-button {
    flex-shrink: 0;
}


input[type="text"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
